body {
    background-color: aqua;
    background: linear-gradient( to left, red,blue);

}

span {
    color: white;
}

input {
    accent-color: yellow;
}

#if1 {
    height: 350px;
    width: 350px;
}

#if2 {
    height: 600px;
    width: 600px;
    box-shadow: 150px;
}